<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="./stylesheets/output.css" />
  </head>
  <body class="h-full">
    <h1 class="m-6 text-3xl font-bold "><%= title %></h1>
    <main>
<ul>
  <% messages.forEach((message, index) => { %>
    <li class="p-4 <%= index % 2 === 0 ? 'bg-gray-200' : 'bg-white' %>">
            <p class="p-4"><%= message.text %></p><h2 class="p-4">- <%= message.user %></h2>

      <p class="px-4"><%= message.added.toLocaleDateString() %>, <%= message.added.toLocaleTimeString() %></p>
    </li>
  <% }); %>
</ul>
      <a href="/new"><button class="m-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        New Message
      </button></a>
    </main>
  </body>
</html>
